body {
	font-family: "Arial", Courier, monospace;
	background-image: linear-gradient(
		to bottom,
		rgb(225, 225, 255),
		rgb(255, 225, 200)
	);
	min-height: 100vh;
}
/* ----------------------------------------------- */
/* navbar */
nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid rgb(200, 200, 200);
}

.nav-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-bottom: 1rem;
}

/* search bar */
.search-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	border-radius: 1rem;
	box-shadow: 0.3rem 0.3rem 1rem -0.5rem rgb(0, 0, 0);
	width: 100%;
	overflow: hidden;
}

.search-bar {
	border: none;
	padding: 0.5rem;
	width: 100%;
}

.search-bar:focus {
	outline: none;
}

.search-btn {
	border-radius: 0;
}

/* home page */
.home {
	display: flex;
	flex-direction: column;
}

.interest-items {
	display: flex;
	gap: 0.5rem;
	overflow: scroll;
}

.item-card {
	border: 1px solid black;
	border-radius: 0.5rem;
	width: 15rem;
	height: 15rem;
}

/* item manager */
.manager-nav {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between;
	align-items: center; */
	margin: 0.1rem;
	gap: 1rem;
}

.nav-section {
	display: flex;
	/* flex-direction: column; */
	gap: 0.5rem;
	width: 100%;
}

button {
	background-image: linear-gradient(
		to bottom right,
		rgb(255, 255, 255) 0%,
		rgb(200, 200, 200) 75%
	);
	border: none;
	border-radius: 1rem;
	box-shadow: 0.3rem 0.3rem 1rem -0.5rem rgb(0, 0, 0);
	padding: 0.5rem;
}

.new-item-btn {
	width: 100%;
}

.item-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(
		rgba(255, 255, 255, 0.5) 0%,
		rgba(230, 230, 230, 0.8) 100%
	);
}

.item-header {
	align-self: start;
}

.item-body {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.item-image {
	width: 10rem;
	height: 10rem;
	border: 1px solid black;
	border-radius: 0.5rem;
	object-fit: cover;
}

.item-content {
	display: flex;
	flex-direction: column;
}

.display-categories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.display-categories h4 {
	align-self: flex-start;
}

.display-categories ul {
	list-style: none;
	align-self: flex-start;
	margin: 0;
	padding: 0;
}

.btn-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.edit-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.edit-btn {
	width: 50%;
}

/* sort */
.sort-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sort-dropdown {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	border-radius: 1rem;
	box-shadow: 0.3rem 0.3rem 1rem -0.5rem rgb(0, 0, 0);
	padding: 0.5rem;
	display: flex;
}

.sort-dropdown:focus {
	outline: none;
}

.sort-option {
	margin: 0.5rem;
}

/* query filter */
.sidebar {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}

.filter-categories {
	list-style: none;
}

/* modal */
dialog {
	background-image: linear-gradient(
		to bottom,
		rgb(255, 255, 255),
		rgb(150, 255, 250)
	);
	border: none;
	border-radius: 1rem;
	box-shadow: 0.5rem 0.5rem 1rem -0.5rem rgb(0, 0, 0);
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.modal label {
	align-self: flex-start;
}

.category-options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	list-style: none;
}

.modal-btn-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.form-btn {
	background-image: linear-gradient(
		to bottom right,
		rgb(255, 255, 255) 0%,
		rgb(200, 200, 200) 75%
	);
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0.3rem 0.3rem 1rem -0.5rem rgb(0, 0, 0);
	padding: 0.5rem;
	margin: 1rem;
	width: 50%;
}

/* filter sidebar */
.filter-btn {
	width: 100%;
}
.sidebar {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 75%;
	height: fit-content;
}
