body {
	background-image: linear-gradient(
		to bottom,
		rgb(225, 225, 255),
		rgb(255, 225, 200)
	);
	min-height: 100vh;
}
/* ----------------------------------------------- */
nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid rgb(200, 200, 200);
}

.nav-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-bottom: 1rem;
}

.searchContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.home {
	display: flex;
	flex-direction: column;
}

/* .interest-section {
	display: flex;
	justify-content: center;
} */

/* section {
	display: flex;
	flex-direction: column;
} */

.interest-items {
	display: flex;
	gap: 0.5rem;
	overflow: scroll;
}

.item-card {
	border: 1px solid black;
	border-radius: 0.5rem;
	width: 15rem;
	height: 15rem;
}

/* item manager */

.item-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item-header {
	align-self: start;
}

.item-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-image {
	width: 10rem;
	height: 10rem;
	border: 1px solid black;
	border-radius: 0.5rem;
}

.item-content {
	display: flex;
	flex-direction: column;
}

.btn-container {
	display: flex;
	justify-content: end;
	align-items: center;
}

.edit-btn {
	background-image: linear-gradient(
		to bottom right,
		rgb(255, 255, 255) 0%,
		rgb(200, 200, 200) 75%
	);
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0.3rem 0.3rem 1rem -0.5rem rgb(0, 0, 0);
	padding: 0.5rem;
	width: 50%;
}
